@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

@layer utilities {
  /* Right sidebar */
  .right-sidebar {
    @apply no-scrollbar h-screen bg-navy-15 text-grey-15 flex flex-col !important;
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .header {
    @apply font-semibold text-white text-4xl;
  }
  .suggest-box {
    @apply border text-sm min-w-52 flex-1 max-w-80 p-2 rounded-md border-navy-5 bg-navy-15 hover:bg-navy-5 cursor-pointer;
  }
  .menu-button-btn {
    @apply border-t border-navy-5 p-4 text-white;
  }

  .input-class {
    @apply text-16 placeholder:text-16 rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
  }

  .card-modal {
    @apply min-w-[400px] min-h-[133px] z-20 bg-navy-25 border-navy-5 mx-auto;
  }

  .home-assist-btn {
    @apply flex items-center gap-1 cursor-pointer hover:bg-purple-15 hover:text-white px-2 rounded-full;
  }

  .co-pilot-btn {
    @apply h-6 rounded-full gap-1 text-sm flex items-center border bg-navy-5 px-2 w-fit shadow-none border-navy-5 hover:border-purple-5;
  }

  .error {
    @apply text-xs text-red-500;
  }
  .menu-list-btn {
    @apply whitespace-nowrap overflow-hidden text-ellipsis cursor-pointer hover:text-white text-grey-5;
  }

  .drop-zone-border {
    background-image: repeating-linear-gradient(90deg, #374061, #374061 8px, transparent 8px, transparent 16px), repeating-linear-gradient(180deg, #374061, #374061 8px, transparent 8px, transparent 16px), repeating-linear-gradient(90deg, #374061, #374061 8px, transparent 8px, transparent 16px), repeating-linear-gradient(180deg, #374061, #374061 8px, transparent 8px, transparent 16px);
    background-position: left top, right top, left bottom, left top;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  }

  .chart-button-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23515AD9FF' stroke-width='2' stroke-dasharray='4%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 14px;
  }
}

/* CurrencySelector styles */
@layer components {
  .CurrencySelector {
    @apply border-none bg-navy-25;
  }
  .CurrencySelector .CurrencySelector__control {
    @apply border border-grey-15  bg-navy-25 text-white;

    &:hover {
      @apply outline-none;
    }
    &:focus-within {
      @apply outline outline-1 outline-grey-15;
    }
  }

  .CurrencySelector .CurrencySelector__menu {
    @apply border border-grey-15 bg-navy-25 text-white;
  }

  .CurrencySelector .CurrencySelector__single-value {
    @apply text-white;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
    
}

.react-scroll-to-bottom--css-uzqrz-79elbk {
  position: relative;
}

.react-scroll-to-bottom--css-ikyem-1n7m0yu {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}


.loader {
  width: 4.8px;
  height: 10px;
  display: inline-block;
  margin-top: 18px;
  position: relative;
  border-radius: 4px;
  color: #515ada;
  background: currentColor;
  box-sizing: border-box;
  animation: animloader 0.5s 0.9s linear infinite alternate;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 4.8px;
  height: 10px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  left: 0;
  top: 13px;
  animation: animloader 0.5s 0.8s linear infinite alternate;
}
.loader::after {
  top: -13px;
  animation-delay: 0s;
}


.small-loader {
  width: 2px;
  height: 5px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  color: #515ada;
  background: currentColor;
  box-sizing: border-box;
  animation: small-animloader 0.5s 0.3s linear infinite alternate;
}
.small-loader::after,
.small-loader::before {
  content: '';  
  box-sizing: border-box;
  width: 2px;
  height: 5px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  left: 0;
  top: -12px;
  animation: small-animloader 0.5s 0.8s linear infinite alternate;
}
.small-loader::after {
  top: -6px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    width: 4.8px;
  }
  100% {
    width: 48px;
  }
}

@keyframes small-animloader {
  0% {
    width: 4.8px;
  }
  100% {
    width: 24px;
  }
}


.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6B7280 #2D3748;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2D3748;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6B7280;
  border-radius: 10px;
  border: 2px solid #2D3748;
}

.dropdown::-webkit-scrollbar-track {
  background: #2D3748;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #6B7280;
  border-radius: 10px;
  border: 2px solid #2D3748;
}

.dropdown {
  color: white;
  background-color: #272E48 !important;
}

.dropdown > li.highlight {
  background-color: #6870DA !important;
}

.dropdown > li:hover {
  background-color: #6870DA !important;
}

.buttonPhoneNumber {
  background-color: transparent !important;
  border: 1px solid #6870DA !important;
}

.buttonPhoneNumber > .selected-flag:hover {
  background-color: #6870DA !important;
}

.buttonPhoneNumber > .open {
  background-color: #6870DA !important;
}

.markdown ul, ol {
  list-style: initial;
  margin-top: 15px;
}

.markdown ol {
  list-style:decimal;
}

.markdown li {
  margin-bottom: 15px;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0; 
  height: 0;
}